
.login-bg {
  background: linear-gradient(135deg, #ec65e6, #d4a45b);
}


.btn-primary:hover {
  background-color: #ce43d3;
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}


.form-control:focus {
  box-shadow: none;
}

.fade-slide-in {
  opacity: 0;
  transform: translateY(25px);
  animation: fadeSlideIn 0.7s ease forwards;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
