
.login-bg {
  background: linear-gradient(135deg, #ec65e6, #d4a45b);
}


.btn-primary:hover {
  background-color: #ce43d3;
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}


.form-control:focus {
  box-shadow: none;
}
